<section class="bg-secondary">
    <!-- Hero Section  -->
    <hero-section [title]="'Services'" [subTitle]="'Services List'"></hero-section>

    <!-- My Services  -->
    <section class="bg-primary">
        <div class="container py-10 lg:py-20">
            <p class="text-lg text-primary-text lg:w-[50%] leading-7">|| Services</p>
            <h1
                class="text-4xl lg:text-[70px] font-bold text-white font-secondary leading-[3rem] lg:leading-[8.2rem] mt-6">
                Service Provide For My
                Clients.</h1>

            <ng-container>
                <service-card></service-card>
            </ng-container>
        </div>

    </section>
</section>