<section class="bg-secondary sticky top-0 z-50 bordr-b border-b-primary-border">
    <div class="h-24 lg:h-28 flex justify-between items-center font-primary container">

        <!-- Logo  -->
        <img ngSrc="images/logos/main-logo.png" alt="website-logo" width="80" height="20" class="w-32 h-16">

        <!-- Hamburger Icon for Mobile -->
        <button class="block lg:hidden text-white" (click)="toggleMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-10 h-10 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button>


        <!-- Navigation List -->
        <nav class="hidden lg:block">
            <ul class="text-primary-text flex gap-20 text-lg">
                @for (item of navigation; track $index) {
                <li><a [routerLink]="item.link" routerLinkActive="active">{{item.label}}</a></li>
                }
            </ul>
        </nav>

        <!-- Hire Button  -->
        <div class="hidden lg:block">
            <primary-button></primary-button>
        </div>

    </div>

    <!-- Mobile Menu (hidden by default) -->
    <div class="block lg:hidden">
        <mobile-navigation [isMenuOpen]="isMenuOpen" [navigation]="navigation" (menuToggle)="toggleMenu()">
        </mobile-navigation>
    </div>
</section>