<section class="bg-secondary sticky top-0">
    <div class="h-28 p-5 flex justify-between items-center font-primary  container">
        <!-- Logo  -->
         <img src="../../../../assets/logos/main-logo.png" alt="website-logo" class="w-20 h-5">
        
         <!-- Navigation List -->
          <ul class="text-primary-text flex gap-20 text-lg ">
            <li class="navigation-item">Home</li>
            <li class="navigation-item">Services</li>
            <li class="navigation-item">About</li>
            <li class="navigation-item">Contact Us</li>
          </ul>
        
          <!-- Hire Button  -->
           <button class="border border-primary-border text-white rounded-[32px] h-16 text-lg px-10 hover:bg-secondary-bg hover:border-secondary-bg transition ease-in-out delay-100">Hire Me</button>
        </div>
</section>
