::ng-deep {
    .p-carousel .p-carousel-content {
        touch-action: pan-y !important;
    }

    .p-carousel {
        position: relative;
        overscroll-behavior: contain !important;
    }

    .p-carousel-prev {
        color: #858792;
        background-color: transparent;
        position: absolute;
        top: -40% !important;
        left: 85% !important;
        width: 85px !important;
        height: 85px !important;
        border: 1px solid #3b3d49;

        &:hover {
            background-color: white !important;
            color: #242734;
            border: 1px solid #2A2D3A;
        }
    }

    .p-carousel-next {
        color: #858792;
        background-color: transparent;
        position: absolute;
        top: -40% !important;
        right: 1.5% !important;
        border: 1px solid #3b3d49;
        width: 85px;
        height: 85px;

        &:hover {
            background-color: white !important;
            color: #242734;
            border: 1px solid #2A2D3A;
        }
    }

    @media (max-width: 768px) {
        .p-carousel-prev {
            top: 10% !important;
            left: 47% !important;
            width: 45px !important;
            height: 45px !important;
        }

        .p-carousel-next {
            top: 10% !important;
            right: 47% !important;
            width: 45px !important;
            height: 45px !important;
        }
    }
}