::ng-deep {
    .p-carousel {
        position: relative;
    }
    
    .p-carousel-prev {
        color: white;
        background-color: #1B1B1B;
        position: absolute;
        top: 100%;
        left: 40%;
        width: 32px;
        height: 32px;
    }
    
    .p-carousel-next {
        color: white;
        background-color: #1B1B1B;
        position: absolute;
        top: 100%;
        right: 40%;
        width: 32px;
        height: 32px;
    }
}

@media (min-width: 768px) {
   ::ng-deep {
    .p-carousel-prev {
        color: white;
        background-color: #1B1B1B;
        position: absolute;
        top: 100%;
        left: 47%;
        width: 32px;
        height: 32px;
    }

   .p-carousel-next {
        color: white;
        background-color: #1B1B1B;
        position: absolute;
        top: 100%;
        right: 47%;
    }
   }
}


// Card Styles on focus 
.focus {
    @apply bg-yellow-500 text-black;
}

.focus .text-sm {
    @apply text-black ;
}

.focus .border-t {
    @apply border-t-black ;
}


  