<section id="contact-me" class="bg-secondary">
    <!-- Hero Section  -->
    <hero-section [title]="'About Me'" [subTitle]="'About'"></hero-section>

    <!-- About Me  -->
    <section class="bg-primary ">
        <div class="order-2 lg:order-1 py-12 lg:py-20 text-center flex flex-col justify-center items-center  container">
            <h1 class="text-5xl lg:text-[85px] font-bold text-white font-secondary leading-[4rem] lg:leading-[8.2rem]">
                I'm Toseef Dar</h1>
            <p class="text-center text-[22px] font-secondary lg:text-5xl my-5 lg:my-10 text-primary-text lg:leading-[4rem]">Frontend
                Developer &
                Website Designer <br> with
                expertise in Angular.</p>
            <!-- My Summary  -->
            <p class="text-base lg:text-lg text-primary-text lg:w-[50%] leading-7 mb-5">Front-End Developer with 2.5 years of
                experience building responsive, user-centric web applications.
                Proven expertise in Angular, optimizing performance, integrating third-party APIs, and creating
                intuitive UIs. Skilled in modern frameworks like Tailwind CSS and Angular Material, with a focus on
                delivering high-quality solutions and collaborating effectively with cross-functional teams.</p>

            <!-- Hire Button  -->
            <primary-button></primary-button>

        </div>
    </section>

    <!-- Eductaion and Experience  -->
    <Section class="container pt-12 lg:pt-20">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 text-3xl lg:text-[58px] text-white font-secondary">
            <a routerLink="education" routerLinkActive="on-active"
                class="border border-transparent bg-primary py-4 lg:py-8 px-4 text-center">Education</a>
            <a routerLink="experience" routerLinkActive="on-active"
                class="border border-transparent bg-primary py-4 lg:py-8 px-4 text-center">Experience</a>
        </div>
        <!-- Router Outlet  -->
        <div class="py-16 lg:py-24">
            <router-outlet></router-outlet>
        </div>

    </Section>

</section>