<section id="contact-me" class="bg-secondary">
    <!-- Hero Section  -->
    <hero-section></hero-section>

    <!-- Contact Us Form -->
    <section class="bg-primary">
        <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-10 py-10 lg:py-32">
            <!-- Contact Info  -->
            <div class="bg-secondary order-2 lg:order-1">
                <!-- Contact Details  -->
                <div class="p-7 lg:p-14 flex flex-col gap-5 lg:gap-8 row-span-2">

                    <!-- Phone Number  -->
                    <div class="bg-primary p-5 lg:p-10 font-primary">
                        <p class="text-base text-white leading-7">Phone:</p>
                        <p class="text-base lg:text-lg text-primary-text leading-7 mt-2 tracking-wider">0326-5652923</p>
                    </div>

                    <!-- Email  -->
                    <div class="bg-primary p-5 lg:p-10 font-primary">
                        <p class="text-base text-white leading-7">Email:</p>
                        <p class="text-base lg:text-lg text-primary-text leading-7 mt-2 tracking-wider">toseefdar534&#64;gmail.com
                        </p>
                    </div>

                    <!-- Website  -->
                    <div class="bg-primary p-5 lg:p-10 font-primary">
                        <p class="text-base text-white leading-7">Website:</p>
                        <a href="https://personal-portfolio-umber-sigma.vercel.app/home" target="_blank"
                            class="text-base lg:text-lg text-primary-text leading-7 mt-2 tracking-wider">www.personal-portfolio-umber-sigma.vercel.app/home.com</a>
                    </div>

                    <!-- Address  -->
                    <div class="bg-primary p-5 lg:p-10 font-primary">
                        <p class="text-base text-white leading-7">Address:</p>
                        <p class="text-base lg:text-lg text-primary-text leading-7 mt-2 tracking-wider">Islamabad E11/4</p>
                    </div>
                </div>
            </div>
            <!-- Contact Form  -->
            <div class="container col-span-2 order-1 lg:order-2">
                <div class="mb-10 lg:mb-20">
                    <p class="text-lg text-primary-text lg:w-[50%] leading-7 font-primary tracking-wide">|| Get in touch
                    </p>
                    <h1
                        class="text-3xl lg:text-[65px] font-bold text-white font-secondary leading-[2.5rem] lg:leading-[4.5rem] my-5 lg:my-8">
                        If you have any porject or need help. Contact me
                    </h1>
                    <p class="text-base lg:text-lg text-primary-text leading-7 font-primary tracking-wide">
                        I’m here to discuss your ideas, offer advice, and help bring your projects to life. Fill out the
                        form below, and
                        I’ll get back to you as soon as possible.
                    </p>
                </div>

                <!-- Form  -->
                <form (submit)="contactForm()">
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-5 gap-y-5 lg:gap-y-7">
                        <!-- Name  -->
                        <div>
                            <input type="text" name="name"
                                class="input"
                                placeholder="Name">
                        </div>
                        <!-- Email  -->
                        <div>
                            <input type="email" name="email"
                                class="input"
                                placeholder="Email">
                        </div>
                        <!-- Phone  -->
                        <div>
                            <input type="tel" name="phone"
                                class="input"
                                placeholder="Phone">
                        </div>
                        <!-- Subject  -->
                        <div>
                            <input type="text" name="subject"
                                class="input"
                                placeholder="Subject">
                        </div>
                        <!-- Comment  -->
                        <div class="lg:col-span-2 ">
                            <textarea name="comment" name="comment" rows="4" cols="80"
                                class="input"
                                placeholder="Comment"></textarea>
                        </div>

                    </div>
                    <!-- Submit Button  -->
                    <button type="submit"
                        class="my-5 lg:my-10 flex items-center  border border-primary-border text-white rounded-[42.5px] lg:rounded-full h-[60px] lg:h-[70px] text-sm lg:text-lg px-10 lg:px-14 hover:bg-secondary-bg hover:border-secondary-bg transition ease-in-out delay-100">
                        Submit Message
                    </button>
                </form>

            </div>
        </div>


    </section>
</section>