<section class="bg-secondary ">
    <div class="lg:h-[735px] container grid lg:grid-cols-2 gap-10 lg:gap-20 py-10 lg:py-20 font-primary relative">

        <!-- left Content  -->
        <div class="order-2 lg:order-1">
            <h1 class="text-4xl lg:text-[85px] font-bold text-white font-secondary leading-[4rem] lg:leading-[8.2rem]">
                Hello! I'm <br> <span class="text-6xl lg:text-[112px]">Toseef Dar</span> </h1>
            <p class="text-base lg:text-lg my-8 lg:my-12 text-primary-text lg:w-[50%] leading-7">Frontend Developer &
                Website Designer with
                expertise in Angular.</p>

            <!-- Hire Button  -->
           <primary-button></primary-button>
        </div>

        <!-- Hero Section Image  -->
         <div class="order-1 lg:order-2 lg:absolute bottom-0 right-0 ">
            <div class="rounded-full lg:h-[700px] absolute"></div>
            <img ngSrc="images/hero-image.png" alt="hero-section-image"
            class="lg:h-[700px] w-auto" height="735" width="100">
         </div>
    </div>
</section>

<!-- My Services  -->
<section class="bg-primary">
    <div class="container py-10 lg:py-20">
        <p class="text-lg text-primary-text lg:w-[50%] leading-7">|| Services</p>
        <h1 class="text-4xl lg:text-[70px] font-bold text-white font-secondary leading-[3rem] lg:leading-[8.2rem] mt-6">
            Service Provide For My
            Clients.</h1>

        <ng-container>
            <services-cards></services-cards>
        </ng-container>
    </div>

</section>

<!-- Special Skills Section  -->
<section class="bg-secondary">
    <div class="container py-20 grid lg:grid-cols-2 items-center gap-5 lg:gap-28">
        <div class="m">
            <p class="text-lg text-primary-text lg:w-[50%] leading-7 flex items-center">|| Special Skills</p>
            <h1
                class="text-4xl lg:text-[70px] font-bold text-white font-secondary leading-[3rem] lg:leading-[6.2rem] mt-6">
                My Special Skill Field
                Here.</h1>
            <!-- Hire Button  -->
            <primary-button></primary-button>
        </div>
        <!-- Skill Cards  -->
        <div class="font-primary text-lg flex flex-col gap-10">
            <div class="bg-primary p-5 lg:p-12 text-primary-text ">
                <div class="flex justify-between" [style.width.%]="communication">
                    <h3 class="mb-5 tracking-[0.05]">Communication</h3>
                    <p>{{communication+'%'}}</p>
                </div>
                <p-slider [(ngModel)]="communication" styleClass="w-14rem" />
            </div>
            <div class="bg-primary p-5 lg:p-12 text-primary-text ">
                <div class="flex justify-between" [style.width.%]="leaderShip">
                    <h3 class="mb-5 tracking-[0.05]">Leadership</h3>
                    <p>{{leaderShip+'%'}}</p>
                </div>
                <p-slider [(ngModel)]="leaderShip" styleClass="w-14rem" />
            </div>
            <div class="bg-primary p-5 lg:p-12 text-primary-text ">
                <div class="flex justify-between" [style.width.%]="teamWork">
                    <h3 class="mb-5 tracking-[0.05]">Teamwork</h3>
                    <p>{{teamWork+'%'}}</p>
                </div>
                <p-slider [(ngModel)]="teamWork" styleClass="w-14rem" />
            </div>
            <div class="bg-primary p-5 lg:p-12 text-primary-text ">
                <div class="flex justify-between" [style.width.%]="flexibility">
                    <h3 class="mb-5 tracking-[0.05]">Flexibility</h3>
                    <p>{{flexibility+'%'}}</p>
                </div>
                <p-slider [(ngModel)]="flexibility" styleClass="w-14rem" />
            </div>
        </div>
    </div>
</section>


<!-- Projects Section  -->
<section class="bg-primary">
    <div class="container py-10 lg:py-20">
        <p class="text-lg text-primary-text lg:w-[50%] leading-7">|| <span class="mt-3">My Projects</span></p>
        <h1 class="text-4xl lg:text-[70px]font-bold text-white font-secondary leading-[3rem] lg:leading-[8.2rem] mt-6">
            My Complete Projects</h1>

        <!-- Project Cards  -->
        <project-cards></project-cards>
    </div>
</section>